body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

button {
  border-radius: 10px;
  margin: 15px;
  padding: 5px;
}

.description {
  margin: 10px;
  font-style: italic;
}
